body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#wrapper {
  width: 1200px;
  height: 650px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

p {
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #607d8b;
  letter-spacing: -1px;
}

#about_text {
  width: 40%;
  float: right;
  margin-top: 150px;
  margin-right: 100px;
}

header {
  width: 1200px;
  height: 750px;
  background-image: url("images/aytore.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: 200px 200px;
}
